<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Votacion En Equipo Con Sockets</title>
    <meta name="description" content="voting using Node.js">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            // este es la conexion al servidor a traves de la ip y el puerto
            var socket = io.connect('192.168.43.126:1111', {
                'forceNew': true
            });
           
            socket.on('server_response', function(data) {
                console.log('El servidor dice: ' + data.response);
            });

            var votedBefore = false;
            var all_votes; // para que otros se puedan conectar
            //variables de las opciones a elegir
            var VotoGmail; 
            var VotoItsva;
            var otro_correo;

/*
a traves de un if se define si el voto es correo gmail
*/
            $('#voteButton').click(function() {
                if ($('#yesButton').is(':checked')) {
                    
                    if (!votedBefore) {
                        votedBefore = true;
                        socket.emit("vote", {
                            newVote: " GMAIL"
                        });
                    } else {
                        socket.emit("vote", {
                            newVote: " cambiado a GMAIL"
                        });
                    }
                    /*
                    o si es el correo itsva
*/
                } else if ($('#noButton').is(':checked')) {
                    
                    if (!votedBefore) {
                        votedBefore = true;
                        socket.emit("vote", {
                            newVote: " ITSVA"
                        });
                    } else {
                        socket.emit("vote", {
                            newVote: " cambiado a ITSVA "
                        });
                    }
                    // o en otro caso un correo que no sea los anteriores
                } else if ($('#otroButton').is(':checked')) {
                    
                    if (!votedBefore) {
                        votedBefore = true;
                        socket.emit("vote", {
                            newVote: " OTRO"
                        });
                    } else {
                        socket.emit("vote", {
                            newVote: " cambiado a OTRO"
                        });
                    }
                }
            });

            /*
SUMA DE LOS VOTOS DE GMAIL
*/
            socket.on('sum_yesVotes', function(data) {
                console.log('Total de votos si: ' + data.response);
                $('#showYesses').html(JSON.stringify(data.response));
                VotoGmail = JSON.stringify(data.response);
                return VotoGmail;
            });


            /*
SUMA DE LOS VOTOS DE ITSVA
*/
            socket.on('sum_noVotes', function(data) {
                console.log('Total de votos no: ' + JSON.stringify(data.response));
                $('#showNos').html(JSON.stringify(data.response));
                VotoItsva = JSON.stringify(data.response);
                return VotoItsva;
            });

            //suma de los votos de otro correo

            socket.on('sum_OTRO', function(data) {
                console.log('Total de votos OTRO: ' + JSON.stringify(data.response));
                $('#otro').html(JSON.stringify(data.response));
                otro_correo = JSON.stringify(data.response);
                return otro_correo;
            });

            //VOTOS DE OTROS USUARIOS
            socket.on('sum_all', function(data) {
                console.log('Total de votos: ' + JSON.stringify(data.response));
                all_votes = JSON.stringify(data.response);
                return all_votes;
            });

        })
    </script>
</head>

<body>
    <center>
    <div id="results"></div>
    <h4>¿ Que correo usas más?</h4>
    <form class="button-position" id="voteButton">
        <p><strong>Sólo se puede elejir uno, </strong>Opción a elegir</p>
        <input type="radio" name="vote" id="yesButton">Correo Gmail<br>
        <input type="radio" name="vote" id="noButton">Correo Itsva<br />
        <input type="radio" name="vote" id="otroButton">Otro correo<br />
        <p> <strong>Conteo de votos:</strong> </p>
        <p> GMAIL: <span id="showYesses"></span> </p>
        <p> ITSVA: <span id="showNos"></span></p>
        <p> OTRO CORREO: <span id="otro"></span></p>
    </form>
    </center>
</body>

</html>